/* =============================== Contact ========================================= */

.contact-form__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 1rem;
    color: $color-bg-secondary;
}

.contact-form__section .contact-form__container {
    width: auto;
    justify-content: center;
    display: flex;
    margin-bottom: 103px;
    gap: 30px;
    display: flex;
    align-items: center;
}



.contact-form {
    &__container {
    width: 1000px;
    background-image: url(/Assets/African-titulo.png);
    padding: 30px;
    margin-top: 20px;
    color: white;
    font-size: larger;
    box-shadow: 0px 5px 20px 7px #000;
    margin-bottom: 40px;}
    &__map {
    display: inline-block;
    padding: 1rem;
    border-radius: 3%;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    }
    &__label, &__input, &__textarea {
        padding: 10px;
        border-radius: 5px;
        outline: none;
        width: 95%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .contact-form__section .contact-form__container {
        flex-direction: column;
        width: auto;
    }
    .contact-form {
        &__map {
            width: auto;
        }
    }
    }