<<<<<<< HEAD
/* .main {
    margin-top: 50px;
    padding: 1.5rem;
    background-color: #ffff  ;
} */
=======
<<<<<<< HEAD
.main {
    margin-top: 50px;
    padding: 1.5rem;
    background-color: #ffff  ;
}
=======
/* .main {
    margin-top: 50px;
    padding: 1.5rem;
    background-color: #ffff  ;
} */
>>>>>>> about-us
>>>>>>> dev
