/* =========================================CARDS================================================================ */

.section-cards .cards-container {
    width: auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 30px;
/*     display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
    }
.card__header:hover {
    filter: grayscale(80%);
    }
    

.card {
    display: inline-block;
    padding: 1rem;
    border-radius: 3%;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    background-color: white;
    width: 330px;
    transition: all 400ms ease-out;
	cursor: default;
    overflow: hidden;

    &__header {
        height: 300px;
        width: 200px;
        -o-transition: all 400ms ease-out;
        -webkit-transition: all 400ms ease-out;
        -moz-transition: all 400ms ease-out;
        -ms-transition: all 400ms ease-out;
        transition: all 400ms ease-out    ;
}
    &__img {
        width: 200px !important;
    }
    &__body {
        padding: 1rem;
    }
    &__title {
        font-weight: 500;
        font-size: 1.5rem;
        border-bottom: 2px solid orangered;
        text-align: center;
    }
    &__description {
        padding: 1rem 0;
        line-height: 1.25;
    }
    &__price {
        text-align: center;
        font-size: large;
    }
    &__footer {
        display: flex;
        justify-content: space-between;
    }
    &__date {
        /* justify-content: left; */
    
    &__btn-container {
        display: inline-block;
    }
    }
    &__btn {
        text-decoration: none;
        display: inline-block;
        color: red;
/*         justify-content: right; */
    }


@media only screen and (max-width: 600px) { 
    .card {
    height: 550px;
    width: 300px;
    }
    .card__header {
        height: 250px;
        width: 250px;
    }
    &__img {
        width: 100px;
    }
}

@media only screen and (max-width: 1550px) { 
    .card {
        height: 570px;
        width: 400px;
        }
        .card__header {
            height: 300px;
            width: 300px;
            background-color: rgb(56, 49, 37);
        }
        .card__img {
            width: 100px;
        }
    }
}

/* =========================================FIN CARDS================================================================ */