.container form [class*="-form"] {
        width: 350px;
        background: #222222;
        padding: 30px;
        margin-top: 20px;
        color: white;
        box-shadow: 0px 5px 20px 7px #000;
        margin-bottom: 40px;
    
}